<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="flex">
    <form [formGroup]="form">
      <ion-card>
        <ion-card-content>
          <ion-item>
            <ion-input
              label="Email"
              placeholder="Ingrese email"
              formControlName="email"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-input
              label="Password"
              placeholder=" Ingrese Password"
              type="password"
              value="password"
              formControlName="password"
            ></ion-input>
          </ion-item>
          <ion-label
            color="danger"
            *ngIf="
            form?.get('email')?.touched &&
            form?.get('email')?.hasError('email')
          "
            style="margin-left: 30%"
            >Email invalido</ion-label
          >
          <ion-label *ngIf="hasError == true " color="danger"
            >{{errorCode}}</ion-label
          >
        </ion-card-content>
        <div>
          <ion-img src="./assets/edificio.png"></ion-img>
        </div>
        <div class="botones">
          <ion-button size="full" [disabled]="!form.valid" (click)="registro()"
            >REGISTRO</ion-button
          >
          <ion-button size="full" fill="clear" (click)="irLogin()"
            >IR A LOGIN</ion-button
          >
        </div>
      </ion-card>
    </form>
  </div>
</ion-content>
