<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Cosas Lindas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="flex">
    <div *ngFor="let post of datosImg">
      <img
        [src]="post.imagen"
        alt="Imagen del post"
        style="height: 500px; width: 400px"
      />
      <!-- Otros datos del post -->
      <div class="labels">
        <ion-label>LIKES {{post.likes}}</ion-label>
        <ion-label>subido por {{post.id_usuario}}</ion-label>
      </div>
    </div>
    <div class="botones">
      <ion-button (click)="darLike()">DAR LIKE</ion-button>
      <ion-button (click)="irLindo()">IR ATRAS</ion-button>
    </div>
  </div>
</ion-content>
