.flex {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: normal;
}

.labels {
  display: flex;
  justify-content: space-around !important;
  align-items: center;
}

.botones {
  margin-top: 50px !important;
}
