<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button (click)="irHome()">A home</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-input type="file" (change)="onFileSelected($event)" />
  <ion-button (click)="uploadFile()">Subir Archivo</ion-button>
  <div class="flex">
    <div *ngFor="let post of recentPosts" (click)="verDetallesImagen(post.key)">
      <img
        [src]="post.imagen"
        alt="Imagen del post"
        style="height: 100px; width: 90px; border: 1px solid red"
      />
    </div>
  </div>
</ion-content>
