<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Pantalla Principal </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="flex-container">
  <ion-card>
    <img
      alt="Silhouette of mountains"
      src="https://ionicframework.com/docs/img/demos/card-media.png"
    />
    <ion-card-header>
      <ion-card-title>Cosas Lindas</ion-card-title>
      <ion-card-subtitle>Cosas Lindas de un edificio</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-button>Haz Click</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img
      alt="Silhouette of mountains"
      src="https://ionicframework.com/docs/img/demos/card-media.png"
    />
    <ion-card-header>
      <ion-card-title>Cosas Feas</ion-card-title>
      <ion-card-subtitle>Cosas Lindas de un edificio</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-button>Haz Click</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
