<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button (click)="signOut()">Log Out</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="flex-container">
  <ion-card>
    <img alt="Silhouette of mountains" src="./assets/casa-linda.jpg" />
    <ion-card-header>
      <ion-card-title>Cosas Lindas</ion-card-title>
      <ion-card-subtitle>Cosas Lindas de un edificio</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-button (click)="redirigirLindo()">Haz Click</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="./assets/casa-fea.jpg" />
    <ion-card-header>
      <ion-card-title>Cosas Feas</ion-card-title>
      <ion-card-subtitle>Cosas Lindas de un edificio</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-button (click)="redirigirFeo()">Haz Click</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
